-f https://download.pytorch.org/whl/torch_stable.html
torch==1.3.1+cpu
torchtext==0.4.2+cpu
#http://download.pytorch.org/whl/cpu/torch-1.4.0%2Bcpu-cp37-cp37m-linux_x86_64.whl 
tqdm>=4.47.0
munch>=2.5.0
torchvision==0.8.1+cpu
opencv_python_headless>=4.1.1.26
requests
einops
chardet
x_transformers
imagesize
transformers>=4.2.2
numpy>=1.19.5
Pillow>=8.1.0
PyYAML>=5.4.1
#torchtext>=0.6.0
pandas>=1.0.0
git+https://github.com/rwightman/pytorch-image-models.git@ca9b078ac7b5058d6d8d3db0fa6b30916b8fa113
